@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

    color-scheme: light;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --vt-c-white: #ffffff;
      --vt-c-white-soft: #f8f8f8;
      --vt-c-white-mute: #f2f2f2;

      --vt-c-black: #181818;
      --vt-c-black-soft: #222222;
      --vt-c-black-mute: #282828;

      --vt-c-indigo: #2c3e50;

      --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
      --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
      --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
      --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

      --vt-c-text-light-1: var(--vt-c-indigo);
      --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
      --vt-c-text-dark-1: var(--vt-c-white);
      --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

      color-scheme: dark;
    }
  }

  * {
    @apply box-border;
    margin: 0;
    font-weight: normal;
  }

  *::before,
  *::after {
    @apply box-border;
  }

  body {
    @apply min-h-screen text-slate-800 dark:text-slate-100 transition-colors duration-500;
    background: var(--color-background, white);
    line-height: 1.6;
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
