@import './base.css';

@layer components {
  #app {
    @apply max-w-5xl mx-auto p-8 font-normal;
  }

  a,
  .green {
    @apply no-underline text-teal-600 dark:text-teal-400 transition-all duration-400 px-1;
  }

  @media (hover: hover) {
    a:hover {
      @apply bg-teal-100 dark:bg-teal-900 dark:bg-opacity-50;
    }
  }

  @media (min-width: 1024px) {
    body {
      @apply flex items-center justify-center;
    }

    #app {
      @apply grid grid-cols-2 gap-8 p-0 px-8;
    }
  }
}
